i.icon,
div.icon {
  display: inline-block;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;

  background: no-repeat;
  background-color: $black;
  height: 18px;
  width: 18px;

  // Colors

  &.white {
    background-color: $white;
  }
  &.black {
    background-color: $black;
  }
  &.gray {
    background-color: $gray;
  }
  &.large {
    height: 36px;
    width: 36px;
  }

  // Icons

  &.github {
    mask-image: url('@/assets/img/icons/github.svg');
  }
  &.linkedin {
    mask-image: url('@/assets/img/icons/linkedin.svg');
  }
}
