.project {
  width: 30%;
  background: rgb(61,61,61);
  background: linear-gradient(135deg, rgba(61,61,61,0.9) 40%, rgba(61, 61, 61, 0.5) 90%);
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px 1.66%;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:hover {
    transform: translateY(-5px);
  }

  h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    letter-spacing: 3px;
    color: #69b37b ;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: 280px;
    border-radius: 8px;
  }

  .used-skills-wrapper {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;

    .used-skill-item {
      background-color: #2e7d32;
      color: white;
      padding: 10px 15px;
      border-radius: 20px;
      margin: 5px;
      font-size: 0.9em;
      font-weight: bold;
      letter-spacing: 1px;
      transition: background-color 0.3s;
    }
  }
  .modal-opener{
    transition: background-color 0.3s;
    padding: 10px 15px;
    border-radius: 20px;

    &:hover{
      background-color: #2e7d32;
    }
  }
}
