.about{
  min-height: 140vh;
  width: 100%;
  background: url("@/assets/img/images/laptop.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  .about-content{
    width: 90%;
    background-color: rgba(61, 61, 61, 0.8);
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 0 50px;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;

    h3{
      color: #69b37b !important;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    p{
      text-align: justify;
      font-size: large;
      white-space: pre-line;
      word-wrap: break-word;
      line-height: 2;
      padding-bottom: 20px;
    }
  }
}
