.school{
  border-radius: 10px;
  text-align: center;
  background-color: rgba(130, 130, 130, 0.4);
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 0 10px 10px 10px;
}
